.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #2364AA;/FanManual
}

.grid-container > div {
    background-color: rgba(234, 230, 215);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}
.BUTTON{
      background: #5E5DF0;
      border-radius: 999px;
      box-shadow: #5E5DF0 0 10px 20px -10px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;<h1 style="text-align: center;" class="header">Header</h1>arent;
      padding: 8px 18px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: fit-content;
      word-break: break-word;
      border: 0;
    }
    a.button{
      
        background: #5E5DF0;
        border-radius: 999px;
        box-shadow: #5E5DF0 0 10px 20px -10px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;<h1 style="text-align: center;" class="header">Header</h1>arent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
      }



    




}


.tinyText {
    font-size: 10px;
}

.banner {
    grid-column-start: 1;
    grid-column-end: 3;
}

.index-heading{
padding: 0px;

}

/* Drop down menu instead of a bar attempt*/

.dropbtn {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;<h1 style="text-align: center;" class="header">Header</h1>arent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all linear 1s;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block; 
   
    
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
.menuicon{

    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;

}


/* End Dropdown*/

body {
    background-color: #5BC0EB;
    /*color: blue;*/
}

h1 {
    background-color: #2364AA;
    color: white;
    text-align: center;
}


/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EF7B45;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}